@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1><br /> <br />
    <h2>sprintCV</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>        
        <span><a href="mailto:sprintCV@example.com">sprintCV@sprintRecruitment.se</a></span>
    </p>    
</section>
<br />
<br />
<hgroup class="title">    
    <h2>sprintRecruitment</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span><a href="mailto:info@sprintRecruitment.se">info@sprintRecruitment.se</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>        
        <span>08-425 555 01</span>
    </p>   
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Karlavägen 100<br />
        Stockholm
    </p>
</section>